@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #1f72f7; /* Tailwind's blue-500 */
  border-radius: 16px;
  border: 1px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #1046bb; /* Tailwind's blue-600 */
}
